<h1><%= pluralize(@movies.count, "Movies")%></h1>

<table>
	<tr>
		<th>Titel</th>
		<th>Beschreibung</th>
		<th>Bewertung</th>
		<th>Erscheinungs Datum</th>
		<th>Umsatz</th>
		<% if current_user %>
			<th>Kritik</th>
			<th>Show</th>
			<% if current_user_admin? %>
				<th>Edit</th>
				<th>Del</th>
			<% end %>
		<% end %>
	</tr>
<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= truncate(movie.description, length: 40) %></td>
			<td><%= movie.rating %></td>
			<td><%= movie.released_on %></td>
			<td><%= movie.total_gross %></td>
			<% if current_user %>
				<td><%= link_to "Kritik", movie_reviews_path(movie.id) %></td>
				<td><%= link_to "Show", movie_path(movie.id) %></td>
				<% if current_user_admin? %>
					<td><%= link_to "Edit", edit_movie_path(movie.id) %></td>
					<td><%= link_to "Del", movie_path(movie.id), method: :delete, data: {confirm: "Sicher Löschen?"} %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>

<p><%= link_to "Neues Movie", new_movie_path  %></p>
